.caja-notebook {

    .frame { border-width: 0 0 1px; }

    .entry {
        background: $base_color;
        color: $fg_color;
        border-color: $borders_color;
        &:selected {
          background: $selected_bg_color;
          color: $selected_fg_color;
        }
    }
}

/**************
* Caja sidebar *
**************/

$_sidebar_bg:  $base_color;

.caja-side-pane {

    .frame { border-width: 0 0 0 0; }

    background: $_sidebar_bg;
    treeview.view,
    textview.view text,
    viewport.frame,
    widget .vertical {
        background: $_sidebar_bg;
        color: $fg_color; 
        padding: 3px 2px;
        &:hover {
            background-color: transparentize($bg_color, 0.6);
        }
        &:selected {
            color: $selected_bg_color;
            background: $_sidebar_bg;
            &:hover {
                background-color: transparentize($selected_bg_color, 0.8);
            }
        }

    }

}

/**************
* Caja pathbar *
**************/
.caja-navigation-window paned {

    background: $base_color;
  
    button.image-button, //Edit pathbar button
    .caja-pathbar button { 
        @include button(normal-header);
        &:hover, &:checked { 
            @include button(hover-header); 
        }
    }
  
    // Real path bar buttons
    .caja-pathbar button {

      box-shadow: none;
      min-height: 20px;

      &:checked { @include button(active-header, transparentize($selected_bg_color, 0.3), #fff); }
    }
  }
  
  .caja-navigation-window .primary-toolbar {
    background: $base_color;
    button {
      &, &:backdrop { 
        @include button(undecorated); 
    }
      &:hover,
      &:active,
      &:backdrop:active,
      &:backdrop:checked {
        background: $selected_bg_color;
        box-shadow: none;
        &, & label {
            color: $selected_fg_color;  
        }
      }
    }
  }