[SddmGreeterTheme]
Name=Ant-Dark
Description=Ant-Dark sddm theme
Author=Eliver Lara
Copyright=(c) 2020, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/EliverLara/Ant/tree/master/kde/Dark/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=eliverlara@gmail.com
Theme-Id=Ant-Dark
Theme-API=2.0
